body{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    /* background: rgb(238,174,202); */
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#container{
    background-color: rgb(234, 202, 216) ;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 20px ;
    max-width: 400px;
    width: 100%;
    text-align: center;
}
label{
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    /* text-shadow: 0px 0px 20px; */
}
input{
    width: 80%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    margin-bottom: 10px;
    
}
button{
    background-color: rgb(255, 91, 255);
    color: whitesmoke;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 8px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
button:hover{
    background-color: rgb(220, 132, 220);
}
#result{
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
    text-shadow: 0px 0px 20px;
}
.error-mes{
    color: red;
}